@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500;700&display=swap');
$primary-color: #000000;
$secondary-color: #929292;
$primary-background-color: #fafafa;
$accent-color: #3d8eda;
$header-box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12),
	inset 0 12px 24px 0 rgba(0, 0, 0, 0.12);
$header-background: rgba(255, 255, 255, 0.67);
$input-text-color: #636264;
$input-border: 1px solid #dedede;
$overlay-background: rgba(255, 255, 255, 0.67);
$image-background: #c4c4c4;
$card-image-background: #fff;
$layout-controls-color: #c8c8c8;
$btn-border: 1px solid #929292;
$transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);

//Точки перелома
$mobile: 480px; //480 -767 - mobile
$tablet: 768px; //768 -1199 - tablet
$desktop: 1200px; // 1200 - ... - desktop
